table.tablesorter .header {
	background-image: url(../images/bg.gif);
    background-position: 0 50%;
	background-repeat: no-repeat;
    padding-right: 5px;
	padding-left: 15px;
	padding-top: 8px;
    padding-bottom: 10px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(../images/asc.gif);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../images/desc.gif);
	background-repeat: no-repeat;
}