{% extends 'base.html' %}

{% block css %}
<style type="text/css">
    html { 
        background-color: #000; 
        color: #fff;
        font-family: "Geneva", sans-serif;
    }
    
    #wrapper
    { 
        width: 400px;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1
    {
        text-transform: uppercase;
        font-size: 2.2em;
        margin-bottom: 20px;
    }
    
    h1 span 
    {
        display:block;
        font-size:0.8em;
    }
    
    h1 span.by
    {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size:0.65em;
    }
    
    h1, p
    {
        text-align: center;
    }
    
    p
    { 
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    
    p.coming
    { 
        font-size: 1em;
    }
    
    #object-wrapper
    {
        padding-left:85px;
    }
    
    #footer
    {
        margin-bottom: 20px;
    }
    
    a
    {
        color: #fff;
        text-decoration: none;
        margin-right: 16px;
    }
    
    a.last
    {
        margin-right: 0px;
    }
    
    a:hover
    {
        text-decoration: underline;
    }
    
    .tracklist
    {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .tracklist li
    {
        margin-bottom: 5px;
    }
    
    .tracklist .track-title
    {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<div id="wrapper">
<h1>Ekkert mótefni <span class="by">eftir</span><span>Wilson Muuga</span></h1>
<p>Ástarsaga um heimsenda</p>


<ol class="tracklist">
    <li>
        <span class="track-title">T mínus 2 mínútur og 22 sekúndur</span>
        
        <object data="http://bandcamp.com/EmbeddedPlayer/track=2444006932/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/track=2444006932/size=venti/bgcol=000000/linkcol=FFFFFF//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/track=2444006932/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" width="400" height="100"></object></object>

    </li>
    <li>
        <span class="track-title">Handan tunglsins</span>
        <object data="http://bandcamp.com/EmbeddedPlayer/track=2433595871/size=venti/bgcol=000000/linkcol=ffffff//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/track=2433595871/size=venti/bgcol=000000/linkcol=ffffff//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/track=2433595871/size=venti/bgcol=000000/linkcol=ffffff//" type="text/html" width="400" height="100"></object></object> 
    </li>
    <li>
        <span class="track-title">Í þyngdarleysi</span>
        <object data="http://bandcamp.com/EmbeddedPlayer/track=1555657680/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/track=1555657680/size=venti/bgcol=000000/linkcol=FFFFFF//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/track=1555657680/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" width="400" height="100"></object></object>
    </li>
    <li>
        <span class="track-title">Bilun í kælikerfinu</span>
        <object data="http://bandcamp.com/EmbeddedPlayer/track=1115684003/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/track=1115684003/size=venti/bgcol=000000/linkcol=FFFFFF//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/track=1115684003/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" width="400" height="100"></object></object>
    </li>
    <li>
        <span class="track-title">Flóttinn í björgunarbátinn<span>
        <object data="http://bandcamp.com/EmbeddedPlayer/track=238776444/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/track=238776444/size=venti/bgcol=000000/linkcol=FFFFFF//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/track=238776444/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" width="400" height="100"></object></object>
    </li>
    <li>
        <span class="track-title">Eldflaugarblús</span>
        <object data="http://bandcamp.com/EmbeddedPlayer/track=2009888041/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/track=2009888041/size=venti/bgcol=000000/linkcol=FFFFFF//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/track=2009888041/size=venti/bgcol=000000/linkcol=FFFFFF//" type="text/html" width="400" height="100"></object></object>
    </li>
    <!--
    <li class="unreleased">Erfðaprins</li>
    <li class="unreleased">Ekkert mótefni</li>
    <li class="unreleased">Ysta sjónarrönd</li>
    <li class="unreleased">Faðir vor</li>
    <li class="unreleased">Frá föður til sonar</li>
    <li class="unreleased">Niðurlag</li>-->
</ol>
<div id="footer">
<a href="http://music.wilsonmuuga.com">Bandcamp</a>
<a href="http://www.facebook.com/pages/Wilson-Muuga/496562675430">Facebook</a>
<a href="http://www.myspace.com/wilsonmuuga">MySpace</a>
<a href="http://www.twitter.com/wilsonmuuga">Twitter</a>
<a href="http://www.youtube.com/user/wilsonmuuga" class="last">YouTube</a>
</div>
</div>
{% endblock %}