{% extends 'base.html' %}

{% block css %}
<style type="text/css">
    html { 
        background-color: #000; 
        color: #fff;
        font-family: "Geneva", sans-serif;
    }
    
    #wrapper
    { 
        width: 400px;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1
    {
        text-transform: uppercase;
    }
    
    h1 span 
    {
        display:block;
        font-size:0.8em;
    }
    
    h1 span.by
    {
        font-size:0.7em;
    }
    
    h1, p
    {
        text-align: center;
    }
    
    p
    { 
        font-size: 1.2em;
    }
    
    p.coming
    { 
        font-size: 1em;
    }
</style>
{% endblock %}

{% block body %}
<div id="wrapper">
<h1>Ekkert mótefni <span class="by">eftir</span><span>Wilson Muuga</span></h1>
<p>Ástarsaga um heimsenda</p>
<p class="coming">Væntanleg haustið 2010</p>
</div>
{% endblock %}